*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    font: 400 var(--body-font-size) 'Montserrat', sans-serif;
    background: var(--c3);
}

p{
    color: var(--c4);
}

/* VARIÁVEIS */

:root{

    --c1: #ff1e53;  
    --c2: #ff6c00;
    --c3: #fff;
    --c4: black;

    --title-font-size: 1.875rem;
    --body-font-size: 1.125rem;
    --logo-font-size: 1.5rem;

    --header-height: 4.5rem;

}

.container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid{
    display: grid;
    gap: 2rem;
}

.section{
    margin-top: var(--header-height);
}

.button{
    width: 9rem;
    padding: 1rem;
    background: var(--c3);
    color: var(--c4);
    display: flex;
    justify-content: center;
    font-weight: bold;
    transition: .3s;
}

.button:hover{
    background: var(--c2);
    color: var(--c3)
}

.title{
    font-size: 2.625rem;
    color: var(--c4);
}

/* HEADER */

#header{
    display: flex;
    width: 100%;
    background: var(--c3);
    height: var(--header-height);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font: 700 var(--logo-font-size) 'Montserrat', sans-serif;
    color: var(--c4);
    transition: .3s;
} 

.logo:hover{
    color: var(--c2);
}

.logo.alt{
    font: 700 var(--logo-font-size) 'Montserrat', sans-serif;
    color: var(--c3);
    transition: .3s;
} 

nav .menu{
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: .3s;
}

nav .menu ul.grid{
    gap: 4rem;
}

nav .icon-close{
    opacity: 0;
    visibility: hidden;

    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    transition: .3s;
}

nav.show .icon-close{
    opacity: 1;
    visibility: visible;
    top: 1.5rem;
}

nav ul li a{
    font: 400 calc(.875rem + var(--logo-font-size)) 'Montserrat';
    color: var(--c4);
    font-weight: bold;
    position: relative;
}

nav ul li a:hover{
    color: var(--c2);
    transition: .3s;
}

nav ul li a::after{
    content: '';
    height: 2px;
    background: var(--c2);
    width: 0%;
    position: absolute;
    transition: width .3s;
    bottom: -.5rem;
    left: 0;
}

nav ul li a:hover::after{
    width: 100%;
}

nav.show .menu{
    opacity: 1;
    visibility: visible;

    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    background: var(--c3);
    text-align: center;
    display: grid;
    place-content: center
    
}

.toggle{
    color: var(--c4);
    font-size: 1.5rem;
    cursor: pointer;
}

/* HOME */

#home{
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 25rem;
    padding-top: 3.5rem;
}

#home h1, #home p{
    color: var(--c3);
}

/* SERVICES */

.cards{
    text-align: center;
}

.card{
    background: var(--c3);
    border-radius: .25rem;
    border-bottom: 2px solid var(--c2);
    padding: 5rem 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.card .title{
    color: var(--c2);
}

.card .i{
    font-size: 3.5rem;
    color: var(--c2);
}

.card p{
    color: var(--c4);
}

/* CONTACT */

#contact .container .button{
    width: 21rem;
    display: flex;
    justify-content: center;
    background: var(--c2);
    color: var(--c3);
}

#contact .container .button:hover{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

#contact .container a i{
    font-size: 1.25rem;
    margin-right: 1rem;
    color: var(--c3);
}

#contact .container .social i{
    font-size: 1.25rem;
    color: var(--c2);
    display: flex;
}

#contact .container .social p{
    color: var(--c4);
    font: 400 var(--body-font-size) 'Montserrat', sans-serif;
    margin-left: 1rem;
}

/* FOOTER */

#footer{
    background: var(--c2);
    padding: var(--header-height) 0;
}

#footer p{
    color: var(--c3);
}

#footer i{
    font-size: 2rem;
    color: var(--c3);
    margin-right: 1rem;
    transition: .3s;
}

#footer i:hover{
    color: var(--c3);
}

/* RESPONSIVIDADE */

@media (min-width: 1023px) {
    
    nav ul li a::after{
        bottom: -1.4rem;
        left: 0;
    }    

    .container{
        margin-left: 4.5rem;
        margin-right: 4.5rem;
    }

    nav{
        position: relative;
    }
    
    nav .menu{
        opacity: 1;
        visibility: visible;
        top: 1.5rem;
        position: absolute;
        right: 0;
    } 

    nav .menu ul{
        display: flex;
    }

    nav ul li a{
        font-size: 1.325rem;
    }

    nav .toggle{
        opacity: 0;
        visibility: hidden;
    }

    #home{
        height: 35rem;
    }

    #home h1{
        font-size: 5rem;
    }

    #home p{
        font-size: 1.5rem;
    }

    #home a{
        font-size: 1.5rem;
        width: 15rem;
    }

    .section#services .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 990px) {

    #home{

        display: block;
        padding-top: 5.5rem;
    }

} 